
    *{
        margin: 0;
        padding: 0;
    }

 /*******   START NAV BAR  *******/

    .logo img{
        width: 250px;
        height: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .nav{
        background: rgba(0, 0, 0, 0.342); 
        display: flex;
        position: fixed;
       justify-content:space-between;
        align-items: center;
        letter-spacing: 3px;
        width:100vw;
    }

    .logo{
        font-family:"Nunito";
        color: white;
    }
    .link-nav{
        display: flex;
        gap: 50px;
        margin-right: 60px;
    }

    .link-nav a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        transition:color 1s;

    }
    .link-nav a:hover{
        color: rgb(181, 120, 238);
    }

    .link-nav li{
        list-style: none;
    }

    /*******   END NAV BAR  *******/

    /**** contents starts****/



    .banner{
        background: url(./images/banner_about);
        width: 100%;
        height: 100vh;
        
    }

    .banner h1{
        color: white;
        width: 30vw;
        padding-top: 20vh;
        margin-left: 5vw;
        font-family: cursive;
        font-size:47px;
    }


    .about-grid{
        display: grid;
        grid-template-columns: auto auto;
        font-size: 21px;
        padding: 100px 100px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: ;

    }

    .about-grid img{
        width: 30vw;

    }







    /** Main FOOTER    linear-gradient(90deg, #C77BF4 0%, #FF5672 100%)*/

    .footer{
        background-color: palevioletred;
        text-align: center;
        color:white;
        padding: 15px;
        font-family: "Nunito";
        background: linear-gradient(90deg, #C77BF4 0%, #FF5672 100%);
        box-shadow: -5px -5px 19px rgba(0, 0, 0, 0.23);
    }