

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

 /*******   START NAV BAR  *******/


    .nav{
        display: flex;
        position: fixed;
        justify-content: space-between;
        padding-inline: 2vw;
        align-items: center;
        letter-spacing: 3px;
        width: 100%;
        z-index: 10;
        height: max-content;
        padding-block: 15px;
        background: rgba(63, 63, 63, 0.555);
        backdrop-filter: blur(6px);
    }

    .logo{
        width: 20%;
        height: 80px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .logo img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
    }
    .link-nav{
        display: flex;
        gap: 2vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-right: 20px;
    }

    .link-nav a{
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        transition:color 1s;


    }
    .link-nav a:hover{
        color: rgb(181, 120, 238);
    }

    .link-nav li{
        list-style: none;
    }

    /*******   END NAV BAR  *******/




    /*** BACKGROUND DIV*/

.franchise-bg{
    background: url(./images/video-bg.png) no-repeat;
    min-height: 100vh;
}


/** BACKGROUND END*/
.franchise-bck{
    /* position: absolute; */
    color: white;
    /* background-color:rgba(128, 128, 128, 0.43); */
    position: relative;
    width: 100%;
    height:100%;
    top: 0px; 
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.franchise-bck div{
    height: 123vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    position: absolute;
    top: 0px;
    z-index: 1;
}
.franchise-text{
    position: relative;
    z-index: 5;
    font-weight: 600;
    font-size: 70px;
    margin-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
}

.franchise-text2{
    font-weight: 700;
    position: relative;
    z-index: 5;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    
}
.btn1{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.btn1 a{
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 5;
    background-color: #FF5672;
    width: 200px;
    font-size: 25px;
    border: none;
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-decoration: none;
    /* left: 45vw; */
    
}

.mission{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

#video{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    z-index: 0;
    
}

.mission-vision{
    padding-top: 9rem;
    margin-block: 50px;
     color: #424242;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mission-vision h1{
    text-align: center;
    color: #424242;
    padding-bottom: 2rem;
}

.text{
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}

.apply{
    margin-top: 50px;
     color: #424242;
     text-align: center;
    
}
.apply-menu{
    display: flex;
    flex-direction: column;
    text-align: center; 
    padding-bottom: 50px;
    
}

.apply-img{
    background: url(./images/apply-grid.png);
    width: 60vw;
    height:70vh;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 25vw;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
    
    

    
}

.apply-menu button{
    background-color:#FF5672;
    width: 220px;
    border-radius: 50PX;
    border: none;
    font-size: 22px;
    padding: 20px;
     cursor: pointer;
}


.apply-menu a{
    color: white;
    text-decoration: none;
    
}

.items p{
    font-size: 15px;
    padding-top: 20px;
}

.items h2{
    padding-top: 20px;
}

.items{
    width: 300px;
    text-align: center;
    font-family:monospace;
    margin-top: 50px;
     color: #424242;
}

.Benefits-container{
    margin-top: 50px;
    color: #424242;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* justify-content: space-  ; */
    margin-bottom: 50px;
    flex-wrap: wrap;
    width: 100%;
    gap:3vw;
   padding-inline: 3%; 
}

.franchise1{
    display: flex; 
    align-items: center;
    gap:10px ;
     color: #424242;
}
.Franchise-query{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.query img{
    width: 50px;
}

.franchise-container{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
     color: #424242;
    
}

.divider{
    background-color: rgb(144, 72, 211);
    height: 3px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;

}
.franchise-container h1{
    font-size: 30px;
    
}


/** Main FOOTER    linear-gradient(90deg, #C77BF4 0%, #FF5672 100%)*/

    .footer{
        background-color: palevioletred;
        text-align: center;
        color:white;
        padding: 15px;
        font-family: "Nunito";
        background: linear-gradient(90deg, #C77BF4 0%, #FF5672 100%);
        box-shadow: -5px -5px 19px rgba(0, 0, 0, 0.23);
    }


    /** Media Query Starts*/
    @media(max-width:576px) {

        .link-nav{
            padding-right: 0px;
            gap: 20px;
            padding-block: 10px;
        }

        .nav{
            display: flex;
            flex-direction: column;
            
        }

        .logo{
            transform: scale(2);
            height: 50px;
        }

        
        #video{
            display: none;
        }
        .franchise-bck h1{
            text-align: center;
            font-size: 2rem;
             text-transform: uppercase;
        }
        .franchise-text2{
            text-align: center;
            font-size: 1rem;
            padding-inline: 20px;
            text-transform: uppercase;
        }
        .franchise-bck div{
            max-height: 100vh;
        }
        .franchise-bg{
            background-position: center;
            background-size: cover;
        }
        .apply-img{
            height: 145px;
            background-position: center;
            margin-left:20vw;
        }

        .btn1{
            transform: scale(0.8);
            z-index: 5;         
        }

        .mission{
            padding-inline: 20px;
        }

        .Benefits-container{
            padding-inline: 20px;
        }
        
        .Franchise-query{
            display:grid;
            grid-template-columns: auto;
            gap: 20px; 
            font-size: 20px;  
        } 
            
        .query{
                transform: scale(0.8);
            }

        
        
        }
        
    