/**{
     margin:0;
     padding:0;
}
.container{
    height: 40vh;
    background-color: aquamarine;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:60px;
    flex-direction: row-reverse;
}
.box{
    background-color: blue;
    height:100px;
    width:100px;
    color:white;
    text-align:center;
    align-content:center;
}
.box1{
    /* background-color: red; 
    align-self: flex-start;
 
}
.box3{
    align-self: flex-end;
}
*/


table,tr,th{
    border: 2px solid black;
    padding: 10px;
}

button{
    background-color: blueviolet;
    padding: 20px;
    border-radius: 20px;
    width:100px;
    transition: 2s;
    display:block;
    margin-top: 10px;
}

.btn1{
    background-color: blueviolet;
}
.containerposition{
    height: 500px;
    width:500px;
    margin: auto;
    background-color: yellow;
    position:relative;
}
.boxposition{
    height: 100px;
    width: 100px;
    background-color: brown;
    margin: auto;
    align-content: center;
    position:fixed;
    top:100px;
    
}
.button2{
    position: relative;
    top:30px;
    left:400px;
}


button:hover{

    background-color: rgb(2, 2, 71);
    color: white;
    transform: (1.2);
    
}

.button1{
    position: static;
    top: 200px;
    left: 200px;

}

.button5{
    position: sticky;
    top:0px;
    left:50px
}
.button3{
    position: absolute;
    top:20px;
    left: 100px;
}
.button4{
    position: fixed;
    top:50px;
    right:50px;
}

.box1{
    align-content: center;
    text-align: center;
    font-size: 20px;
    width:120px;
    height:120px;
    background-color: red;
    animation: box1 1s infinite alternate;
}

.box2{
    align-content: center;
    text-align: center;
    font-size: 20px;
    width:120px;
    height:120px;
    background-color: red;
    animation: box2 1s infinite alternate linear ;
}


.box3{
    align-content: center;
    text-align: center;
    font-size: 20px;
    width:120px;
    height:120px;
    background-color: red;
    animation: box3 1s infinite alternate ease-in ;
}


.box4{
    align-content: center;
    text-align: center;
    font-size: 20px;
    width:120px;
    height:120px;
    background-color: red;
    animation: box4 1s infinite alternate ease-out ;
}

.box5{
    align-content: center;
    text-align: center;
    font-size: 20px;
    width:120px;
    height:120px;
    background-color: red;
    animation: box5 2s infinite alternate;
}

.box6{
    align-content: center;
    border-radius: 100px;
    text-align: center;
    border-block: 10px solid red;
    border-inline:  10px solid blue;
    font-size: 20px;
    width:120px;
    height:120px;
    animation: box6 0.8s infinite linear;
    margin-left: 45vw;
}


@keyframes box1 {
    from{
        background-color: aqua;
        transform: translate(0px);
    }
    to{
        background-color: blueviolet;
        transform: translate(400px);
    }

}

@keyframes box2 {
    from{
        background-color: aqua;
        transform: translate(0px);
    }
    to{
        background-color: blueviolet;
        transform: translate(400px);
    }

}

@keyframes box3 {
    from{
        background-color: aqua;
        transform: translate(0px);
    }
    to{
        background-color: blueviolet;
        transform: translate(400px);
    }

}

@keyframes box4 {
    from{
        background-color: aqua;
        transform: translate(0px);
    }
    to{
        background-color: blueviolet;
        transform: translate(400px);
    }

}


@keyframes box5 {
    0%{
        background-color: aqua;
        transform: rotate(90deg);
        
    }

    50%{
        background-color: burlywood;
        transform: rotate(90deg);
        
    }

    100%{
        background-color: aquamarine;
        transform: translate(400px);
    }

}


@keyframes box6 {
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);   
    }

}

h3{
    position: relative;
    top: -100px;
    left:47vw;

}